@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.static-page {
	height: 100%;
	font-size: $text-static;
	background-color: $white;
	line-height: 1.2;

	&--height {
		height: calc(100vh - 290px);
	}

	@include mobile {
		height: auto;
	}

	& > .container {
		//padding-top: 0;
		background-color: $white;
	}

	p:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__subtitle {
		font-size: $h3;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		margin-bottom: 1rem;
	}
}
