@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.wrapper-categories {
	&__products-grid {
		@include grid(10px, 300px);
		gap: 10px;
		background-color: $white;
	}
}

.container:has(.wrapper-categories__products-grid) {
	background-color: $white;
}
