@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.wrapper-categories {
	&__header {
		background-color: $secondary-color;
		padding: 130px 20px 60px 20px;
	}
	&__products-grid {
		@include grid(10px, 300px);
		gap: 10px;
		background-color: $white;
	}

	&__title {
		font-size: $h2;
		color: $primary-color;
		text-transform: capitalize;
	}
}

.container:has(.wrapper-categories__products-grid) {
	background-color: $white;
}
