@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.btn {
	background-color: $primary-color;
	color: $white;
	border: none;
	padding: 20px 25px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	@include flex(row, wrap, space-between, flex-start);

	&:hover {
		background-color: $orange;
	}
}
