@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.btn {
	background-color: $primary-color;
	color: $white;
	border: none;
	padding: 20px 25px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	@include flex(row, wrap, center, center);
	&--cart {
		padding: 0;
		background-color: $white;
		color: $primary-color;
		&:disabled {
			cursor: not-allowed;
		}
	}

	&.space {
		justify-content: space-between;
	}

	svg {
		@extend %icons;
	}

	&--link {
		@extend %link;
		padding: 0;
		border-bottom: 1px solid transparent;
		background-color: $white;
		color: $primary-color;
		span {
			padding-bottom: 5px;
		}
	}

	&--icon {
		padding: 0;
		background-color: $white;
		color: $primary-color;
	}
}

.btn:not(.btn--cart, .btn--link):hover {
	background-color: $orange;
}
