@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.header-products {
	@include flex(row, nowrap, flex-start, flex-start);
	gap: 5px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;

	& > * {
		flex: 0 0 auto;
		width: clamp(100px, calc(100% / 3), 100%);
		scroll-snap-align: start;

		@include tablet {
			width: clamp(100px, calc(100% / 2), 100%);
		}

		@include mobile {
			width: clamp(100px, calc(100% / 1), 100%);
		}
	}
}
