@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.header-products {
	@include flex(row, nowrap, flex-start, flex-start);
	gap: 5px;
	overflow: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
	position: relative;

	//@include grid(10px, 400px);

	& > * {
		flex: 0 0 auto;
		width: clamp(100px, calc(100vw / 3), 500px);
		scroll-snap-align: start;
	}
}

@media (max-width: 1024px) {
	.header-products > * {
		width: clamp(100px, calc(100vw / 3), 400px);
	}
}

@media (max-width: 768px) {
	.header-products > * {
		width: clamp(100px, calc(100vw / 2), 382px);
	}
}
@media (max-width: 576px) {
	.header-products > * {
		width: clamp(100px, calc(100vw / 1), 576px);
	}
}

@media (max-width: 415px) {
	.header-products > * {
		width: clamp(100px, calc(100vw / 1), 500px);
	}
}
