@use './colors' as *;
@use './mixins' as *;

%link {
	color: $white;
	border-bottom: 1px solid transparent;
	transition: border-color 0.3s ease-in-out;
	padding-bottom: 5px;
	margin-bottom: 25px;
	border: 0;
	background: none;
	margin-bottom: 0;
	cursor: pointer;

	&:hover {
		border-bottom: 1px solid currentColor;
	}
}

%icons {
	width: 20px;
	height: 20px;
	stroke-width: 1.5px;
}

%input {
	width: 60%;
	background-color: $white;
	border: 0;
	border-bottom: 1px solid $primary-color;
	color: $primary-color;
	padding-bottom: 10px;
	font-size: 1rem;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	&:focus {
		outline: none;
		border-bottom: 1px solid $orange;
	}

	@include tablet {
		width: 100%;
	}
}
