@use '@/scss/abstract/index' as *;
@use '@/scss/base/index' as *;

.form {
	height: calc(100dvh + 105px);
	@include flex(column, nowrap, center, center);

	@include tablet {
		height: calc(100dvh + 107px);
	}

	&__container {
		background-color: $white;
		padding: 40px;
		border-radius: 8px;
		box-shadow: 0 4px 6px rgba($primary-color, 0.1);
		width: 500px;

		@include mobile {
			width: 100%;
			padding: 30px;
		}
	}

	&__title {
		font-size: $h3;
		color: $orange;
		margin-bottom: 40px;
	}
	&__group {
		@include flex(column, nowrap, flex-start, flex-start);
		margin-bottom: 40px;
	}
	&__label {
		height: 20px;
		margin-bottom: 20px;
		font-weight: 600;
		&:after {
			content: '*';
			color: $orange;
			margin-left: 2px;
		}
	}
	&__input {
		@extend %input;
		width: 100%;
	}
	&__input::placeholder,
	&__textarea::placeholder {
		color: $primary-color;
		font-size: 0.95rem;
		font-style: italic;
		letter-spacing: 0.5px;
	}

	&__input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0 50px $white inset;
		-webkit-text-fill-color: $primary-color !important;
	}

	&__link {
		@extend %link;
		color: $orange;
	}

	&__text {
		margin-top: 20px;
	}

	&__error-message {
		color: $orange;
		font-size: 0.85rem;
		margin-top: 5px;
		display: none;
	}

	&__error-general {
		margin-bottom: 40px;
	}
	.invalid {
		display: block;
	}
}
