@use '../abstract/colors' as *;
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: 'Jura', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	color: $primary-color;
}

h1,
h2 {
	font-family: 'Montserrat', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

$h1: clamp(3rem, 5vw, 4rem);
$h2: clamp(2.5rem, 100%, 3rem);
$h3: clamp(1.125rem, 3vw, 1.4rem);
$h4: clamp(1rem, 2.5vw, 1.125rem);
$h5: clamp(0.875rem, 2vw, 1rem);
$h6: clamp(0.75rem, 1.5vw, 0.875rem);

$samll-nav: clamp(1.5rem, 5vw, 1.875rem);
